<% provide(:title, 'Add Word') %>
<% provide(:button_text, 'Save Word') %>
<div class="container"><br>
    <div class="card">
        <div class="card-action light-blue darken-2 white-text">
            <h6>Add Word</h6>
        </div>
        <div class="form-padding">
            <%= link_to "Back", admin_category_words_path , class: 'btn green lighten-1' %> <br><br>
            <%= render 'form' %>
        </div>
    </div>
</div>