<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>
<div class="container"><br>
    <div class="card">
        <div class="card-action light-blue darken-2 white-text">
            <h6>Sign up</h6>
        </div>
        <div class="form-padding">
            <%= render 'users/form' %>
        </div>
    </div>
</div>