<% provide(:title, 'Update Category') %>
<% provide(:button_text, 'Update Category') %>
<div class="container"><br>
    <div class="card">
        <div class="card-action light-blue darken-2 white-text">
            <h6>Update Category</h6>
        </div>
        <div class="form-padding">
            <%= render 'form' %>
        </div>
    </div>
</div>