<footer class="page-footer light-blue darken-2">
	<div class="footer-copyright">
		<div class="container">
		Made with ❤️ by Sun*
		<a class="grey-text text-lighten-4 right" href="https://sun-asterisk.com/" target = "_blank">Vist our website</a>
		</div>
	</div>
</footer>
    